@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
:root {
    --dark: #333333;
    --dark20: #D6D6D6;
    --light: #ffffff;
}

body {
    max-width: 2560px;
    margin: auto;
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    color: var(--dark);
    font-size: 16px;
    line-height: 1.5;
}

p {
    margin-bottom: 16px;
}

::-webkit-scrollbar {
    width: 12px;
    background-image: linear-gradient(100deg, #ffffff, #DAB9DB, #5A9FDB, #E3AADF, #ffffff);
}

 ::-webkit-scrollbar-thumb {
    background-color: var(--light);
    border: 1px solid var(--dark20);
}


/*
*****************************************
LOADING SCREEN
*****************************************
*/

div.loader-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--dark);
    z-index: 51;
}

div.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 20vh;
    background-image: url("images/loader.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


/*
*****************************************
HEADER
*****************************************
*/

header.desktop-header,
header.mobile-header {
    width: 100%;
    padding: 16px 24px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--light);
}

header.mobile-header {
    display: none;
}

header.desktop-header img {
    height: 25px;
    width: 100%;
}

header.desktop-header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header.mobile-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}

a {
    text-decoration: none;
    color: var(--dark);
    font-weight: 600;
    position: relative;
}

.fancy-link::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s ease;
}

.fancy-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.mobile-header-logo {
    max-width: 200px;
    z-index: 11;
}

a.mobile-menu-toggle {
    cursor: pointer;
    z-index: 11;
}

nav.mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 144px 24px;
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform 1s ease;
}

nav.mobile-nav a {
    font-size: 67px;
    font-weight: bold;
    margin-bottom: 32px;
}

div.mobile-nav-image {
    margin-top: 5vh;
    background-image: url("/images/hero.webp");
    background-size: cover;
    height: 20vh;
    width: 100%;
}

body.nav-open .mobile-nav {
    transform: translateX(0);
}


/*
*****************************************
BUTTON
*****************************************
*/

a.button {
    padding: 16px 32px;
    background-color: var(--dark);
    color: var(--light);
    font-weight: 700;
    transition: all 0.5s ease;
    border: solid 1px var(--dark);
    position: relative;
    z-index: 1;
}

a.button:hover {
    color: var(--dark);
}

a.button::after {
    content: "";
    position: absolute;
    background-color: var(--light);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease;
}

a.button:hover::after {
    transform: scaleX(1);
}


/*
*****************************************
HERO
*****************************************
*/

section.hero {
    margin: 32px 0px 112px 0px;
    padding: 32px 24px;
    max-height: 800px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 16px;
    position: relative;
}

div.hero-text {
    grid-column: 1 / span 4;
    grid-row: 1;
    z-index: 2;
}

div.hero-text h1 {
    font-size: 177px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 64px;
}

div.hero-text ul {
    margin-bottom: 74px;
}

div.hero-text ul li {
    font-size: 41px;
    font-weight: bold;
    line-height: 1.3;
}

p.location-subtitle {
    grid-column: 1 / span 2;
    font-size: 25px;
    font-weight: 600;
}

div.hero-image-container {
    grid-column: 3 / span 6;
    grid-row: 1;
    height: 100%;
    width: 100%;
    position: relative;
}

div.box {
    background: white;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
}

div.hero-image {
    width: 100%;
    height: 100%;
    background-image: url("/images/hero.webp");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 5;
}

div.logomark {
    position: absolute;
    bottom: 16px;
    right: 24px;
    z-index: 3;
}

div.logomark img {
    max-width: 260px;
}


/*
*****************************************
INTRO TEXT
*****************************************
*/

div.intro-text-container {
    margin: 160px 0px 352px 0px;
    padding: 0px 24px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 16px;
}

div.intro-text {
    grid-column: 3 / span 6;
    font-size: 41px;
}


/*
*****************************************
SECTION HEADINGS
*****************************************
*/

h2 {
    font-size: 67px;
    font-weight: bold;
    position: relative;
    margin-bottom: 32px;
}

div.divider {
    height: 2px;
    background-color: var(--dark);
    margin-bottom: 80px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 1s ease-in-out;
}

div.divider.grow {
    transform: scale(1);
}

div.work-section-intro h2::before {
    content: "Work";
    font-size: 309px;
    position: absolute;
    bottom: -89px;
    left: -24px;
    color: #33333313;
}

div.services-section-intro h2::before {
    content: "Services";
    font-size: 309px;
    position: absolute;
    bottom: -89px;
    left: -24px;
    color: #3333330c;
}

div.about-section-intro h2::before {
    content: "About";
    font-size: 309px;
    position: absolute;
    bottom: -89px;
    left: -24px;
    color: #3333330c;
}

div.contact-section-intro h2::before {
    content: "Contact";
    font-size: 309px;
    position: absolute;
    bottom: -89px;
    left: -24px;
    color: #3333330c;
}


/*
*****************************************
WORK
*****************************************
*/

section.work {
    width: 100%;
    padding: 0px 24px;
}

div.project-one,
div.project-two {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 16px;
}

div.project-title {
    grid-column: 1 / span 4;
}

div.project-title h3 {
    font-size: 67px;
    font-weight: bold;
    margin-bottom: 16px;
}

div.project-link {
    font-size: 41px;
    grid-column: 1 / span 3;
}

div.project-link a {
    display: flex;
    align-items: center;
}

div.project-link img {
    margin-left: 40px;
    max-height: 32px;
}

div.project-one-description {
    grid-column: 8 / span 2;
    align-self: flex-end;
}

video {
    max-width: 100%;
}

div.project-one-video {
    grid-column: 1 / span 9;
    margin: 32px 0 144px 0;
}

div.project-two {
    margin-bottom: 160px;
}

div.project-two div.project-title {
    grid-column: 1 / span 3;
    padding: 32px 0;
    border-top: solid 2px var(--dark);
    border-bottom: solid 2px var(--dark);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

div.project-two-title-wrapper {
    grid-column: 1 / span 3;
}

div.project-two-description {
    grid-column: 1 / span 2;
    align-self: flex-end;
}

div.project-two-video {
    grid-column: 4 / span 6;
}


/*
*****************************************
PARALLAX IMAGE DIVIDER
*****************************************
*/

.image-divider-container {
    height: 280px;
    width: 100%;
    background-image: url("/images/background.webp");
    background-size: cover;
    margin-bottom: 352px;
}


/*
*****************************************
SERVICES
*****************************************
*/

section.services {
    width: 100%;
    padding: 0px 24px 160px 24px;
}

div.services-inner-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 16px;
}

p.services-intro-text {
    grid-column: 1 / span 3;
    grid-row: 1;
    margin-bottom: 56px;
}

div.service-list {
    grid-row: 2;
    grid-column: 1 / span 3;
    position: relative;
    z-index: 2;
}

div.service h3 {
    font-size: 41px;
    font-weight: bold;
    display: inline-block;
}

div.service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

div.service img {
    transition: transform 0.25s ease;
}

div.service:hover img {
    transform: translateX(16px);
}

div.service-description-box {
    grid-row: 2;
    grid-column: 5 / span 3;
    position: relative;
}

div.service-description {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.25s ease;
}

div.service-description h4 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 24px;
}

div.mobile-services {
    display: none;
}


/*
*****************************************
ABOUT
*****************************************
*/

section.about {
    width: 100%;
    padding: 0px 24px 352px 24px;
}

div.about-text-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 16px;
}

div.about-column-one {
    grid-column: 1 / span 2;
}

div.about-column-two {
    grid-column: 4 / span 2;
}

div.about-column-three {
    grid-column: 7 / span 3;
}

div.about-image {
    width: 100%;
    height: 100%;
    background-image: url("/images/background.webp");
    background-size: cover;
}

div.about-text-container h3 {
    font-size: 41px;
    font-weight: bold;
    margin-bottom: 24px;
}

div.about-text-container h4 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px;
}


/*
*****************************************
CONTACT
*****************************************
*/

section.contact {
    width: 100%;
    padding: 0px 24px 144px 24px;
}

div.contact-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 16px;
}

p.contact-intro {
    grid-column: 1 / span 3;
    margin-bottom: 32px;
}

form {
    grid-column: 1 / span 3;
}

label {
    font-weight: 600;
}

label span {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    border: 1px solid var(--dark);
    padding: 8px 16px;
    margin-bottom: 32px;
}

textarea {
    height: 240px;
}

button {
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 16px 32px;
    background-color: var(--dark);
    color: var(--light);
    font-weight: 700;
    transition: all 0.5s ease;
    border: solid 1px var(--dark);
    position: relative;
    z-index: 1;
    cursor: pointer;
}

button:hover {
    color: var(--dark);
}

button::after {
    content: "";
    position: absolute;
    background-color: var(--light);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease;
}

button:hover::after {
    transform: scaleX(1);
}


/*
*****************************************
FOOTER
*****************************************
*/

footer {
    padding: 48px 24px;
    background-image: url("/images/footer.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
}

footer img {
    max-height: 64px;
}


/*
*****************************************
CONTACT MODAL
*****************************************
*/

div.modal-container {
    width: 100%;
    height: 100vh;
    background-color: #333333b2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease;
}

div.modal-background {
    padding: 16px;
    background-image: url("images/background.webp");
    background-size: cover;
}

div.modal {
    max-width: 800px;
    padding: 32px;
    background-color: var(--light);
    position: relative;
    overflow: scroll;
}

div.modal img {
    position: absolute;
    top: 32px;
    right: 32px;
    transition: transform 0.5s ease;
    cursor: pointer;
}

div.modal img:hover {
    transform: rotate(270deg);
}


/*
*****************************************
*****************************************
*****************************************
MEDIA QUERIES
*****************************************
*****************************************
*****************************************
*/

@media(max-width: 1750px) {
    div.hero-image-container {
        grid-column: 3 / span 7;
    }
    div.intro-text {
        grid-column: 1 / span 8;
    }
    div.project-one-description {
        grid-column: 6 / span 4;
    }
    div.project-two-description {
        grid-column: 1 / span 3;
    }
    p.services-intro-text {
        grid-column: 1 / span 5;
    }
    div.service-list {
        grid-column: 1 / span 4;
    }
    div.service-description-box {
        grid-column: 6 / span 4;
        position: relative;
    }
    div.about-column-one {
        grid-column: 1 / span 5;
    }
    div.about-column-two {
        grid-column: 1 / span 5;
    }
    div.about-column-three {
        grid-column: 6 / span 4;
        grid-row: 1 / span 2;
    }
    p.contact-intro {
        grid-column: 1 / span 5;
    }
    form {
        grid-column: 1 / span 5;
    }
}

@media(max-width: 1440px) {
    section.hero {
        margin: 0px 0px 112px 0px;
        padding: 16px 24px;
    }
    div.hero-text h1 {
        font-size: 128px;
        margin-bottom: 40px;
    }
    div.hero-text ul {
        margin-bottom: 32px;
    }
    div.hero-text ul li {
        font-size: 32px;
    }
    p.location-subtitle {
        font-size: 18px;
    }
    div.logomark img {
        max-width: 152px;
    }
    div.intro-text-container {
        margin: 104px 0px 160px 0px;
    }
    div.intro-text {
        font-size: 32px;
    }
    div.work-section-intro h2::before {
        font-size: 250px;
        bottom: -68px;
    }
    div.services-section-intro h2::before {
        font-size: 250px;
        bottom: -68px;
    }
    div.about-section-intro h2::before {
        font-size: 250px;
        bottom: -68px;
    }
    div.contact-section-intro h2::before {
        font-size: 250px;
        bottom: -68px;
    }
    div.project-title h3 {
        font-size: 48px;
    }
    div.project-link {
        font-size: 32px;
    }
    div.service h3 {
        font-size: 32px;
    }
    div.service-description h4 {
        font-size: 24px;
    }
    .image-divider-container {
        margin-bottom: 240px;
    }
    section.about {
        padding: 0px 24px 240px 24px;
    }
}

@media(max-width: 1280px) {
    div.work-section-intro h2::before {
        font-size: 202px;
        bottom: -51px;
    }
    div.services-section-intro h2::before {
        font-size: 202px;
        bottom: -51px;
    }
    div.about-section-intro h2::before {
        font-size: 202px;
        bottom: -51px;
    }
    div.contact-section-intro h2::before {
        font-size: 202px;
        bottom: -51px;
    }
    div.project-two div.project-title {
        grid-column: 1 / span 9;
        border-bottom: none;
        grid-template-columns: repeat(9, 1fr);
    }
    div.project-two-title-wrapper {
        grid-column: 1 / span 4;
    }
    div.project-two-description {
        grid-column: 6 / span 4;
    }
    div.project-two-video {
        grid-column: 1 / span 9;
    }
    div.about-column-one,
    div.about-column-two {
        grid-column: 1 / span 7;
    }
    div.about-column-three {
        grid-column: 8 / span 2;
    }
    div.modal h2 {
        font-size: 40px;
        margin-bottom: 24px;
    }
    textarea {
        height: 120px;
    }
}

@media(max-width: 1050px) {
    div.hero-text h1 {
        font-size: 104px;
        margin-bottom: 48px;
    }
    div.hero-text ul {
        margin-bottom: 64px;
    }
    div.hero-text ul li {
        font-size: 24px;
    }
    p.location-subtitle {
        font-size: 16px;
    }
    div.logomark img {
        max-width: 120px;
    }
    h2 {
        font-size: 48px;
    }
    div.project-title h3 {
        font-size: 40px;
    }
    div.about-text-container h3 {
        font-size: 32px;
    }
    div.about-text-container h4 {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 16px;
    }
    div.divider {
        margin-bottom: 48px;
    }
    div.intro-text-container {
        margin: 120px 0px 180px 0px;
    }
    div.intro-text {
        font-size: 28px;
    }
    div.work-section-intro h2::before {
        font-size: 152px;
        bottom: -38px;
    }
    div.services-section-intro h2::before {
        font-size: 152px;
        bottom: -38px;
    }
    div.about-section-intro h2::before {
        font-size: 152px;
        bottom: -38px;
    }
    div.contact-section-intro h2::before {
        font-size: 152px;
        bottom: -38px;
    }
    p.services-intro-text {
        grid-column: 1 / span 7;
        margin-bottom: 0;
    }
    div.mobile-services {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-column: 1 / span 9;
    }
    div.mobile-services-col-1 {
        grid-column: 1 / span 4;
    }
    div.mobile-services-col-2 {
        grid-column: 6 / span 4;
    }
    div.service-list {
        display: none;
    }
    div.mobile-services h3 {
        font-size: 28px;
        font-weight: bold;
        margin-top: 32px;
    }
    div.service-description-box {
        display: none;
    }
    div.mobile-services h4 {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 12px;
    }
    div.project-two {
        margin-bottom: 144px;
    }
    section.about {
        padding: 0px 24px 144px 24px;
    }
    section.services {
        padding: 0px 24px 144px 24px;
    }
    p.contact-intro {
        grid-column: 1 / span 7;
    }
    form {
        grid-column: 1 / span 7;
    }
}

@media(max-width: 900px) {
    header.desktop-header {
        display: none;
    }
    header.mobile-header {
        display: flex;
    }
    .image-divider-container {
        margin-bottom: 180px;
    }
}

@media(max-width: 770px) {
    div.work-section-intro h2::before {
        font-size: 120px;
        bottom: -20px;
    }
    div.services-section-intro h2::before {
        font-size: 120px;
        bottom: -20px;
    }
    div.about-section-intro h2::before {
        font-size: 120px;
        bottom: -20px;
    }
    div.contact-section-intro h2::before {
        font-size: 120px;
        bottom: -20px;
    }
    div.hero-text h1 {
        font-size: 80px;
        margin-bottom: 40px;
    }
    div.hero-text ul {
        margin-bottom: 56px;
    }
    div.hero-text ul li {
        font-size: 22px;
    }
    p.location-subtitle {
        font-size: 16px;
    }
    div.logomark img {
        max-width: 100px;
    }
    h2 {
        font-size: 40px;
    }
    div.project-title {
        grid-column: 1 / span 9;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    div.project-one-description {
        grid-column: 1 / span 9;
    }
    div.project-two-title-wrapper {
        grid-column: 1 / span 9;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    div.project-two-description {
        grid-column: 1 / span 9;
        margin-top: 16px;
    }
    div.project-title h3 {
        font-size: 32px;
    }
    div.project-link {
        font-size: 24px;
    }
    div.project-link img {
        margin-left: 16px;
    }
    div.mobile-services-col-1 {
        grid-column: 1 / span 9;
    }
    div.mobile-services-col-2 {
        grid-column: 1 / span 9;
    }
    div.about-text-container h3 {
        font-size: 24px;
    }
    div.about-text-container h4 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 16px;
    }
    div.about-column-one,
    div.about-column-two {
        grid-column: 1 / span 9;
    }
    div.about-column-three {
        display: none;
    }
    div.divider {
        margin-bottom: 40px;
    }
    div.intro-text-container {
        margin: 104px 0px 132px 0px;
    }
    div.intro-text {
        font-size: 22px;
    }
}

@media(max-width: 600px) {
    div.hero-text h1 {
        font-size: 56px;
        margin-bottom: 32px;
    }
    div.hero-text ul {
        margin-bottom: 48px;
    }
    div.hero-text ul li {
        font-size: 20px;
    }
    div.intro-text-container {
        margin: 48px 0px 96px 0px;
    }
    div.work-section-intro h2::before {
        font-size: 80px;
        bottom: -16px;
    }
    div.services-section-intro h2::before {
        font-size: 80px;
        bottom: -16px;
    }
    div.about-section-intro h2::before {
        font-size: 80px;
        bottom: -16px;
    }
    div.contact-section-intro h2::before {
        font-size: 80px;
        bottom: -16px;
    }
    p.services-intro-text {
        grid-column: 1 / span 9;
    }
    p.contact-intro {
        grid-column: 1 / span 9;
    }
    form {
        grid-column: 1 / span 9;
    }
}

@media(max-width: 430px) {
    div.hero-text {
        grid-column: 1 / span 6;
    }
    div.hero-text h1 {
        font-size: 48px;
        margin-bottom: 56px;
    }
    div.intro-text-container {
        margin: 32px 0px 64px 0px;
    }
    div.intro-text {
        grid-column: 1 / span 9;
    }
}