@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
:root {
    --dark: #333333;
    --light: #ffffff;
}

body {
    max-width: 2560px;
    margin: auto;
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    color: var(--dark);
    font-size: 16px;
    line-height: 1.5;
}


/*
*****************************************
HEADER
*****************************************
*/

header {
    width: 100%;
    padding: 16px 24px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: var(--light);
}

header img {
    max-height: 25px;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--dark);
    font-weight: 600;
    position: relative;
}

a.fancy-link::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s ease;
}

a.fancy-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


/*
*****************************************
BUTTON
*****************************************
*/

a.button {
    padding: 16px 32px;
    background-color: var(--dark);
    color: var(--light);
    font-weight: 700;
    transition: all 0.5s ease;
    border: solid 1px var(--dark);
    position: relative;
    z-index: 1;
}

a.button:hover {
    color: var(--dark);
}

a.button::after {
    content: "";
    position: absolute;
    background-color: var(--light);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease;
}

a.button:hover::after {
    transform: scaleX(1);
}


/*
*****************************************
HERO
*****************************************
*/

section.hero {
    margin: 114px 0px;
    padding: 0px 24px;
    max-height: 800px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 16px;
    position: relative;
}

div.hero-text {
    padding: 32px 0px;
    grid-column: 1 / span 4;
    grid-row: 1;
    z-index: 2;
}

div.hero-text h1 {
    font-size: 177px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 64px;
}

div.hero-text ul {
    margin-bottom: 74px;
}

div.hero-text ul li {
    font-size: 41px;
    font-weight: bold;
    line-height: 1.3;
}

p.location-subtitle {
    grid-column: 1 / span 2;
    font-size: 25px;
    font-weight: 600;
}

div.hero-image-container {
    grid-column: 3 / span 6;
    grid-row: 1;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-image: url("/images/hero.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

div.logomark {
    position: absolute;
    bottom: 16px;
    right: 48px;
    z-index: 3;
}

div.logomark img {
    max-width: 260px;
}


/*
*****************************************
INTRO TEXT
*****************************************
*/

div.intro-text-container {
    margin: 160px 0px 352px 0px;
    padding: 0px 24px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 16px;
}

div.intro-text {
    grid-column: 3 / span 6;
    font-size: 41px;
}


/*
*****************************************
SECTION HEADINGS
*****************************************
*/

h2 {
    font-size: 67px;
    font-weight: bold;
    position: relative;
    margin-bottom: 32px;
}

div.divider {
    height: 2px;
    background-color: var(--dark);
    margin-bottom: 80px;
}

div.work-section-intro h2::before {
    content: "Work";
    font-size: 309px;
    position: absolute;
    bottom: -89px;
    left: -24px;
    color: #33333313;
}

div.services-section-intro h2::before {
    content: "Services";
    font-size: 309px;
    position: absolute;
    bottom: -89px;
    left: -24px;
    color: #3333330c;
}

div.about-section-intro h2::before {
    content: "About";
    font-size: 309px;
    position: absolute;
    bottom: -89px;
    left: -24px;
    color: #3333330c;
}

div.contact-section-intro h2::before {
    content: "Contact";
    font-size: 309px;
    position: absolute;
    bottom: -89px;
    left: -24px;
    color: #3333330c;
}


/*
*****************************************
WORK
*****************************************
*/

section.work {
    width: 100%;
    padding: 0px 24px;
}

div.project-one,
div.project-two {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 16px;
}

div.project-title {
    grid-column: 1 / span 2;
}

div.project-title h3 {
    font-size: 67px;
    font-weight: bold;
    margin-bottom: 16px;
}

div.project-link {
    font-size: 41px;
    grid-column: 1 / span 2;
}

div.project-link a {
    display: flex;
    align-items: center;
}

div.project-link img {
    margin-left: 40px;
    max-height: 40px;
}

div.project-one-description {
    grid-column: 8 / span 2;
    align-self: flex-end;
}

video {
    max-width: 100%;
}

div.project-one-video {
    grid-column: 1 / span 9;
    margin: 32px 0 144px 0;
}

div.project-two {
    margin-bottom: 160px;
}

div.project-two div.project-title {
    grid-column: 1 / span 3;
    padding: 32px 0;
    border-top: solid 2px var(--dark);
    border-bottom: solid 2px var(--dark);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

div.project-two div.project-title div.project-two-title-wrapper {
    grid-column: 1 / span 3;
}

div.project-two-description {
    grid-column: 1 / span 2;
    align-self: flex-end;
}

div.project-two-video {
    grid-column: 4 / span 6;
}


/*
*****************************************
PARALLAX IMAGE DIVIDER
*****************************************
*/

.image-divider-container {
    height: 280px;
    width: 100vw;
    background-image: url("/images/background.webp");
    background-size: cover;
    margin-bottom: 352px;
}


/*
*****************************************
FOOTER
*****************************************
*/

footer {
    padding: 48px 24px;
    background-image: url("/images/background.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
}

footer img {
    max-height: 64px;
}