@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
:root {
    --dark: #333333;
    --light: #ffffff;
}

body {
    max-width: 2560px;
    margin: auto;
    font-family: 'Manrope', Arial, Helvetica, sans-serif;
    color: var(--dark);
    font-size: 16px;
}

header {
    width: 100%;
    padding: 16px 24px;
}

header img {
    max-height: 25px;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--dark);
}

a.button {
    padding: 16px 32px;
    background-color: var(--dark);
    color: var(--light);
    font-weight: 700;
    transition: all 0.5s ease-in-out;
    border: solid 1px var(--dark);
}

a.button:hover {
    background-color: var(--light);
    color: var(--dark);
}

footer {
    padding: 48px 24px;
    background-image: url("/images/background.webp");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
}

footer img {
    max-height: 64px;
}